<launch>

  <node pkg="interactive_waypoints" type="interactive_waypoints_node.py" name="interactive_waypoints" output="screen" clear_params="true">
    <param name="add_waypoint_topic" value="/initialpose"/>
    <param name="connect_movebase" value="true"/>
    <param name="enable_saving" value="true"/>
    <param name="waypoint_server_name" value="waypoint_srv"/>
    <rosparam command="load" ns="waypoint_params" file="$(find interactive_waypoints)/res/waypoint_params.yaml"/>
  </node>

</launch>
